__pycache__/
.DS_Store
.vscode/
venv/
lib/

# Vue will use this for dist directory
/static/frontend/

# test caches
.pytest_cache/

# environmental variable
app_env.yaml

# studio flow with production urls
studio.flow-active.json